# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
sellers.db


# Virtual Environment
venv/
env/
.env
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Airflow Logs
airflow/logs/

.data/
data
data/